footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #333;
  margin-top: 20px;
}

p {
  color: #666;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}
.sidebar.always-visible {
  display: block;
}

@media (min-width: 768px) {
  .sidebar:not(.always-visible) {
    display: none;
  }
}

.sidebar {
  background-color: #f4f4f4;
  padding: 20px;
  width: 250px;
  flex-shrink: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}
